.produtos {
    position: relative;

}


.options {
    background-color: #415259;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100vw;
    padding: 0 20px;
    top: 75vh;
}

.options input {
    width: 20rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.options a {
    width: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}


.inp {
    display: flex;
    gap: 1rem;
}

.inp label {
    color: #fff;

}