.navbar {
    padding: 0 25px;
    background-color: #415259;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

.navbar img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.navbar ul {
    list-style: none;
}