.input{
    display: flex;
    flex-direction: column;
}


.input input{
    padding: 5px 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #494949;
    margin-bottom: 20px;
}

.input label {
    color: #494949;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: text;
}